html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
}

img,
span {
  display: inline-block;
}

.story-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
  visibility: hidden;
}

.story-container .avatar,
.story-container .scenes {
  display: inline-block;
}

.avatar {
  width: 30%;
  text-align: center;
  float: left;
}

.avatar img {
  transform: translateX(250px);
}

.scenes div {
  position: absolute;
  width: 100%;
}

.avatar img {
  width: 200px;
  height: 200px;
}

.meet {
  font-size: 2.5rem;
}

.destinations {
  position: absolute;
  top: 0;
}

.destinations span {
  display: inline-block;
  font-weight: bold;
}
