html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
}

img,
span {
  display: inline-block;
}

/* Common stylings */

.story-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
  visibility: hidden;
}

.story-container .avatar,
.story-container .scenes {
  display: inline-block;
}

.avatar {
  width: 30%;
  text-align: center;
  float: left;
}

.avatar img {
  transform: translateX(250px);
}

.scenes div {
  position: absolute;
  width: 100%;
}

.avatar img {
  width: 200px;
  height: 200px;
}

.short-text {
  width: 70%;
}

/* Scene One */

.duration {
  transform: translateY(50px);
}

.meet {
  font-size: 2.5rem;
}

.destinations {
  position: absolute;
  top: 0;
}

.destinations span {
  display: inline-block;
  font-weight: bold;
}

/* Scene Two */

.save {
  font-size: 2.2rem;
}

.inputs {
  position: absolute;
  top: 0;
}

/* Scene Three */

.input-box {
  position: absolute;
  top: 0;
  left: -80px;
  box-shadow: 2px 8px 25px 5px rgba(191, 209, 210, 0.49);
}
